/*custom font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*basic reset*/
:root {
  --font: "Reem Kufi", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  /* background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
	background-size: 120% 120%; */
}

body {
  font-family: 'Poppins',sans-serif;
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
    /* background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%); */
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
#bg {
  position: fixed;
  background: cover;
  animation: color-change-5x 15s linear infinite alternate both;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -2;
}
.message{
  padding: 10px;
  color: white;
  text-align: center;
}
.message > h2{
  background-color: rgba(0, 0, 0, 0.5);
}
/*form styles*/
#msform {
  width: auto;
  /* margin: 50px auto; */
  padding: 50px;
  text-align: center;
  position: relative;
}
#msform fieldset {
  left: 0%;
  background: rgb(241, 241, 241);
  border: 0 none;
  border-radius: 7px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  background: rgb(241, 241, 241);
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  /* text-align: center; */
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  /* color: #2c3e50; */
  font-size: 13px;
}


/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 30px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  font-weight: bolder;
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #000000;
  color: white;
}
text {
  float: left;
  margin: 0 10px;
}
select {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  color: #2c3e50;
  background-color: white;
  font-size: 13px;
}

.wrapper{
  position: relative;
  display: flex;
  height: auto;
  /* color: red; */
  /* border-color: #19dcea;*/ 
} 
.label{
  position: absolute;
  top: 20px;
  left: 1rem;
  /* transform: translateY(-50%); */
  color:#888;
  /* color:rgba(0, 0, 0, 0.4); */
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}
input[class="in"]{
  height: inherit;
  width: 10rem;
  border: 2px solid #888;
  outline: none;
  background: transparent;
  /* color: #f7f7f7; */
  text-indent: 1rem;
  transition: all 0.1s;
}
input.in:focus {
  border: 2px dashed #19dcea;
  border-radius: 15px;
  transition: all 0.8s;
}
.in:focus ~ .label, .in:not(:placeholder-shown).in:not(:focus) ~ .label{
  border-radius: 50px;
  font-size: small;
  color: #19dcea;
  /* color: rgba(255,255,255,0.75); */
  background: rgb(241, 241, 241);
  transform: translateY(-1.55rem);
}
.in:not(:placeholder-shown).in:not(:focus) ~ .label{
  color: #888;
}



.error {
  color: red;
  border-bottom: 1px dashed red;
  font-size: 12px;
  margin: 0 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.has-error{
  border: 2px dashed red;
  position:relative;
} 

.has-error:focus ~ .label{
  color: red;
}

/* .has-error:focus{
  border-radius: 15px;
  transition: all 0.8s;
} */
input.has-error:focus {
  border: 2px dashed red;
  border-radius: 15px;
  transition: all 0.8s;
}