{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap">
    <link rel="stylesheet" href="{% static 'form1.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Sign Up</title>
   </head>
<body>
  <div id="bg"></div>
  <div class="message">
    {% for message in messages %}
    <h2>{{message}}</h2>
    {% endfor %}
  </div>
  <div class="container change">
    <div class="title">Registration</div>
    <div class="content">
      <form action="form1" method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" name="fname" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" name="phone" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="pass" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" name="cpass" required>
          </div>
          <div class="input-box">
            <span class="details">Date of Birth</span>
            <input type="date" name="dob">
          </div>
          <div class="input-box">
            <input type="hidden" value="Student" name="type">
          </div>
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Other</span>
              </label>
            </div>
          </div>
          <select id="select-country" class="form-control">
            <option hidden disabled selected value> Select Your Region </option>
            <option value="Adilabad">Adilabad</option>Agra
            <option value="Agra">Agra</option>Adilabad
            <option value="Ahmedabad">Ahmedabad</option>Ahmedabad
            <option value="Ahmednagar">Ahmednagar</option>Ahmednagar
            <option value="Aizawl">Aizawl</option>Aizawl
            <option value="Ajitgarh (Mohali)">Ajitgarh (Mohali)</option>Ajitgarh (Mohali)
            <option value="Ajmer">Ajmer</option>Ajmer
            <option value="Akola">Akola</option>Akola
            <option value="Alappuzha">Alappuzha</option>Alappuzha
            <option value="Aligarh">Aligarh</option>Aligarh
            <option value="Alirajpur">Alirajpur</option>Alirajpur
            <option value="Allahabad">Allahabad</option>Allahabad
            <option value="Almora">Almora</option>Almora
            <option value="Alwar">Alwar</option>Alwar
            <option value="Ambala">Ambala</option>Ambala
            <option value="Ambedkar Nagar">Ambedkar Nagar</option>Ambedkar Nagar
            <option value="Amravati">Amravati</option>Amravati
            <option value="Amreli district">Amreli district</option>Amreli district
            <option value="Amritsar">Amritsar</option>Amritsar
            <option value="Anand">Anand</option>Anand
            <option value="Anantapur">Anantapur</option>Anantapur
            <option value="Anantnag">Anantnag</option>Anantnag
            <option value="Angul">Angul</option>Angul
            <option value="Anjaw">Anjaw</option>Anjaw
            <option value="Anuppur">Anuppur</option>Anuppur
            <option value="Araria">Araria</option>Araria
            <option value="Ariyalur">Ariyalur</option>Ariyalur
            <option value="Arwal">Arwal</option>Arwal
            <option value="Ashok Nagar">Ashok Nagar</option>Ashok Nagar
            <option value="Auraiya">Auraiya</option>Auraiya
            <option value="Aurangabad">Aurangabad</option>Aurangabad
            <option value="Aurangabad">Aurangabad</option>Aurangabad
            <option value="Azamgarh">Azamgarh</option>Azamgarh
            <option value="Badgam">Badgam</option>Badgam
            <option value="Bagalkot">Bagalkot</option>Bagalkot
            <option value="Bageshwar">Bageshwar</option>Bageshwar
            <option value="Bagpat">Bagpat</option>Bagpat
            <option value="Bahraich">Bahraich</option>Bahraich
            <option value="Baksa">Baksa</option>Baksa
            <option value="Balaghat">Balaghat</option>Balaghat
            <option value="Balangir">Balangir</option>Balangir
            <option value="Balasore">Balasore</option>Balasore
            <option value="Ballia">Ballia</option>Ballia
            <option value="Balrampur">Balrampur</option>Balrampur
            <option value="Banaskantha">Banaskantha</option>Banaskantha
            <option value="Banda">Banda</option>Banda
            <option value="Bandipora">Bandipora</option>Bandipora
            <option value="Bangalore Rural">Bangalore Rural</option>Bangalore Rural
            <option value="Bangalore Urban">Bangalore Urban</option>Bangalore Urban
            <option value="Banka">Banka</option>Banka
            <option value="Bankura">Bankura</option>Bankura
            <option value="Banswara">Banswara</option>Banswara
            <option value="Barabanki">Barabanki</option>Barabanki
            <option value="Baramulla">Baramulla</option>Baramulla
            <option value="Baran">Baran</option>Baran
            <option value="Bardhaman">Bardhaman</option>Bardhaman
            <option value="Bareilly">Bareilly</option>Bareilly
            <option value="Bargarh (Baragarh)">Bargarh (Baragarh)</option>Bargarh (Baragarh)
            <option value="Barmer">Barmer</option>Barmer
            <option value="Barnala">Barnala</option>Barnala
            <option value="Barpeta">Barpeta</option>Barpeta
            <option value="Barwani">Barwani</option>Barwani
            <option value="Bastar">Bastar</option>Bastar
            <option value="Basti">Basti</option>Basti
            <option value="Bathinda">Bathinda</option>Bathinda
            <option value="Beed">Beed</option>Beed
            <option value="Begusarai">Begusarai</option>Begusarai
            <option value="Belgaum">Belgaum</option>Belgaum
            <option value="Bellary">Bellary</option>Bellary
            <option value="Betul">Betul</option>Betul
            <option value="Bhadrak">Bhadrak</option>Bhadrak
            <option value="Bhagalpur">Bhagalpur</option>Bhagalpur
            <option value="Bhandara">Bhandara</option>Bhandara
            <option value="Bharatpur">Bharatpur</option>Bharatpur
            <option value="Bharuch">Bharuch</option>Bharuch
            <option value="Bhavnagar">Bhavnagar</option>Bhavnagar
            <option value="Bhilwara">Bhilwara</option>Bhilwara
            <option value="Bhind">Bhind</option>Bhind
            <option value="Bhiwani">Bhiwani</option>Bhiwani
            <option value="Bhojpur">Bhojpur</option>Bhojpur
            <option value="Bhopal">Bhopal</option>Bhopal
            <option value="Bidar">Bidar</option>Bidar
            <option value="Bijapur">Bijapur</option>Bijapur
            <option value="Bijapur">Bijapur</option>Bijapur
            <option value="Bijnor">Bijnor</option>Bijnor
            <option value="Bikaner">Bikaner</option>Bikaner
            <option value="Bilaspur">Bilaspur</option>Bilaspur
            <option value="Bilaspur">Bilaspur</option>Bilaspur
            <option value="Birbhum">Birbhum</option>Birbhum
            <option value="Bishnupur">Bishnupur</option>Bishnupur
            <option value="Bokaro">Bokaro</option>Bokaro
            <option value="Bongaigaon">Bongaigaon</option>Bongaigaon
            <option value="Boudh (Bauda)">Boudh (Bauda)</option>Boudh (Bauda)
            <option value="Budaun">Budaun</option>Budaun
            <option value="Bulandshahr">Bulandshahr</option>Bulandshahr
            <option value="Buldhana">Buldhana</option>Buldhana
            <option value="Bundi">Bundi</option>Bundi
            <option value="Burhanpur">Burhanpur</option>Burhanpur
            <option value="Buxar">Buxar</option>Buxar
            <option value="Cachar">Cachar</option>Cachar
            <option value="Central Delhi">Central Delhi</option>Central Delhi
            <option value="Chamarajnagar">Chamarajnagar</option>Chamarajnagar
            <option value="Chamba">Chamba</option>Chamba
            <option value="Chamoli">Chamoli</option>Chamoli
            <option value="Champawat">Champawat</option>Champawat
            <option value="Champhai">Champhai</option>Champhai
            <option value="Chandauli">Chandauli</option>Chandauli
            <option value="Chandel">Chandel</option>Chandel
            <option value="Chandigarh">Chandigarh</option>Chandigarh
            <option value="Chandrapur">Chandrapur</option>Chandrapur
            <option value="Changlang">Changlang</option>Changlang
            <option value="Chatra">Chatra</option>Chatra
            <option value="Chennai">Chennai</option>Chennai
            <option value="Chhatarpur">Chhatarpur</option>Chhatarpur
            <option value="Chhatrapati Shahuji Maharaj Nagar">Chhatrapati Shahuji Maharaj Nagar</option>Chhatrapati Shahuji Maharaj Nagar
            <option value="Chhindwara">Chhindwara</option>Chhindwara
            <option value="Chikkaballapur">Chikkaballapur</option>Chikkaballapur
            <option value="Chikkamagaluru">Chikkamagaluru</option>Chikkamagaluru
            <option value="Chirang">Chirang</option>Chirang
            <option value="Chitradurga">Chitradurga</option>Chitradurga
            <option value="Chitrakoot">Chitrakoot</option>Chitrakoot
            <option value="Chittoor">Chittoor</option>Chittoor
            <option value="Chittorgarh">Chittorgarh</option>Chittorgarh
            <option value="Churachandpur">Churachandpur</option>Churachandpur
            <option value="Churu">Churu</option>Churu
            <option value="Coimbatore">Coimbatore</option>Coimbatore
            <option value="Cooch Behar">Cooch Behar</option>Cooch Behar
            <option value="Cuddalore">Cuddalore</option>Cuddalore
            <option value="Cuttack">Cuttack</option>Cuttack
            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>Dadra and Nagar Haveli
            <option value="Dahod">Dahod</option>Dahod
            <option value="Dakshin Dinajpur">Dakshin Dinajpur</option>Dakshin Dinajpur
            <option value="Dakshina Kannada">Dakshina Kannada</option>Dakshina Kannada
            <option value="Daman">Daman</option>Daman
            <option value="Damoh">Damoh</option>Damoh
            <option value="Dantewada">Dantewada</option>Dantewada
            <option value="Darbhanga">Darbhanga</option>Darbhanga
            <option value="Darjeeling">Darjeeling</option>Darjeeling
            <option value="Darrang">Darrang</option>Darrang
            <option value="Datia">Datia</option>Datia
            <option value="Dausa">Dausa</option>Dausa
            <option value="Davanagere">Davanagere</option>Davanagere
            <option value="Debagarh (Deogarh)">Debagarh (Deogarh)</option>Debagarh (Deogarh)
            <option value="Dehradun">Dehradun</option>Dehradun
            <option value="Deoghar">Deoghar</option>Deoghar
            <option value="Deoria">Deoria</option>Deoria
            <option value="Dewas">Dewas</option>Dewas
            <option value="Dhalai">Dhalai</option>Dhalai
            <option value="Dhamtari">Dhamtari</option>Dhamtari
            <option value="Dhanbad">Dhanbad</option>Dhanbad
            <option value="Dhar">Dhar</option>Dhar
            <option value="Dharmapuri">Dharmapuri</option>Dharmapuri
            <option value="Dharwad">Dharwad</option>Dharwad
            <option value="Dhemaji">Dhemaji</option>Dhemaji
            <option value="Dhenkanal">Dhenkanal</option>Dhenkanal
            <option value="Dholpur">Dholpur</option>Dholpur
            <option value="Dhubri">Dhubri</option>Dhubri
            <option value="Dhule">Dhule</option>Dhule
            <option value="Dibang Valley">Dibang Valley</option>Dibang Valley
            <option value="Dibrugarh">Dibrugarh</option>Dibrugarh
            <option value="Dima Hasao">Dima Hasao</option>Dima Hasao
            <option value="Dimapur">Dimapur</option>Dimapur
            <option value="Dindigul">Dindigul</option>Dindigul
            <option value="Dindori">Dindori</option>Dindori
            <option value="Diu">Diu</option>Diu
            <option value="Doda">Doda</option>Doda
            <option value="Dumka">Dumka</option>Dumka
            <option value="Dungapur">Dungapur</option>Dungapur
            <option value="Durg">Durg</option>Durg
            <option value="East Champaran">East Champaran</option>East Champaran
            <option value="East Delhi">East Delhi</option>East Delhi
            <option value="East Garo Hills">East Garo Hills</option>East Garo Hills
            <option value="East Khasi Hills">East Khasi Hills</option>East Khasi Hills
            <option value="East Siang">East Siang</option>East Siang
            <option value="East Sikkim">East Sikkim</option>East Sikkim
            <option value="East Singhbhum">East Singhbhum</option>East Singhbhum
            <option value="Eluru">Eluru</option>Eluru
            <option value="Ernakulam">Ernakulam</option>Ernakulam
            <option value="Erode">Erode</option>Erode
            <option value="Etah">Etah</option>Etah
            <option value="Etawah">Etawah</option>Etawah
            <option value="Faizabad">Faizabad</option>Faizabad
            <option value="Faridabad">Faridabad</option>Faridabad
            <option value="Faridkot">Faridkot</option>Faridkot
            <option value="Farrukhabad">Farrukhabad</option>Farrukhabad
            <option value="Fatehabad">Fatehabad</option>Fatehabad
            <option value="Fatehgarh Sahib">Fatehgarh Sahib</option>Fatehgarh Sahib
            <option value="Fatehpur">Fatehpur</option>Fatehpur
            <option value="Fazilka">Fazilka</option>Fazilka
            <option value="Firozabad">Firozabad</option>Firozabad
            <option value="Firozpur">Firozpur</option>Firozpur
            <option value="Gadag">Gadag</option>Gadag
            <option value="Gadchiroli">Gadchiroli</option>Gadchiroli
            <option value="Gajapati">Gajapati</option>Gajapati
            <option value="Ganderbal">Ganderbal</option>Ganderbal
            <option value="Gandhinagar">Gandhinagar</option>Gandhinagar
            <option value="Ganganagar">Ganganagar</option>Ganganagar
            <option value="Ganjam">Ganjam</option>Ganjam
            <option value="Garhwa">Garhwa</option>Garhwa
            <option value="Gautam Buddh Nagar">Gautam Buddh Nagar</option>Gautam Buddh Nagar
            <option value="Gaya">Gaya</option>Gaya
            <option value="Ghaziabad">Ghaziabad</option>Ghaziabad
            <option value="Ghazipur">Ghazipur</option>Ghazipur
            <option value="Giridih">Giridih</option>Giridih
            <option value="Goalpara">Goalpara</option>Goalpara
            <option value="Godda">Godda</option>Godda
            <option value="Golaghat">Golaghat</option>Golaghat
            <option value="Gonda">Gonda</option>Gonda
            <option value="Gondia">Gondia</option>Gondia
            <option value="Gopalganj">Gopalganj</option>Gopalganj
            <option value="Gorakhpur">Gorakhpur</option>Gorakhpur
            <option value="Gulbarga">Gulbarga</option>Gulbarga
            <option value="Gumla">Gumla</option>Gumla
            <option value="Guna">Guna</option>Guna
            <option value="Guntur">Guntur</option>Guntur
            <option value="Gurdaspur">Gurdaspur</option>Gurdaspur
            <option value="Gurgaon">Gurgaon</option>Gurgaon
            <option value="Gwalior">Gwalior</option>Gwalior
            <option value="Hailakandi">Hailakandi</option>Hailakandi
            <option value="Hamirpur">Hamirpur</option>Hamirpur
            <option value="Hamirpur">Hamirpur</option>Hamirpur
            <option value="Hanumangarh">Hanumangarh</option>Hanumangarh
            <option value="Harda">Harda</option>Harda
            <option value="Hardoi">Hardoi</option>Hardoi
            <option value="Haridwar">Haridwar</option>Haridwar
            <option value="Hassan">Hassan</option>Hassan
            <option value="Haveri district">Haveri district</option>Haveri district
            <option value="Hazaribag">Hazaribag</option>Hazaribag
            <option value="Hingoli">Hingoli</option>Hingoli
            <option value="Hissar">Hissar</option>Hissar
            <option value="Hooghly">Hooghly</option>Hooghly
            <option value="Hoshangabad">Hoshangabad</option>Hoshangabad
            <option value="Hoshiarpur">Hoshiarpur</option>Hoshiarpur
            <option value="Howrah">Howrah</option>Howrah
            <option value="Hyderabad">Hyderabad</option>Hyderabad
            <option value="Hyderabad">Hyderabad</option>Hyderabad
            <option value="Idukki">Idukki</option>Idukki
            <option value="Imphal East">Imphal East</option>Imphal East
            <option value="Imphal West">Imphal West</option>Imphal West
            <option value="Indore">Indore</option>Indore
            <option value="Jabalpur">Jabalpur</option>Jabalpur
            <option value="Jagatsinghpur">Jagatsinghpur</option>Jagatsinghpur
            <option value="Jaintia Hills">Jaintia Hills</option>Jaintia Hills
            <option value="Jaipur">Jaipur</option>Jaipur
            <option value="Jaisalmer">Jaisalmer</option>Jaisalmer
            <option value="Jajpur">Jajpur</option>Jajpur
            <option value="Jalandhar">Jalandhar</option>Jalandhar
            <option value="Jalaun">Jalaun</option>Jalaun
            <option value="Jalgaon">Jalgaon</option>Jalgaon
            <option value="Jalna">Jalna</option>Jalna
            <option value="Jalore">Jalore</option>Jalore
            <option value="Jalpaiguri">Jalpaiguri</option>Jalpaiguri
            <option value="Jammu">Jammu</option>Jammu
            <option value="Jamnagar">Jamnagar</option>Jamnagar
            <option value="Jamtara">Jamtara</option>Jamtara
            <option value="Jamui">Jamui</option>Jamui
            <option value="Janjgir-Champa">Janjgir-Champa</option>Janjgir-Champa
            <option value="Jashpur">Jashpur</option>Jashpur
            <option value="Jaunpur district">Jaunpur district</option>Jaunpur district
            <option value="Jehanabad">Jehanabad</option>Jehanabad
            <option value="Jhabua">Jhabua</option>Jhabua
            <option value="Jhajjar">Jhajjar</option>Jhajjar
            <option value="Jhalawar">Jhalawar</option>Jhalawar
            <option value="Jhansi">Jhansi</option>Jhansi
            <option value="Jharsuguda">Jharsuguda</option>Jharsuguda
            <option value="Jhunjhunu">Jhunjhunu</option>Jhunjhunu
            <option value="Jind">Jind</option>Jind
            <option value="Jodhpur">Jodhpur</option>Jodhpur
            <option value="Jorhat">Jorhat</option>Jorhat
            <option value="Junagadh">Junagadh</option>Junagadh
            <option value="Jyotiba Phule Nagar">Jyotiba Phule Nagar</option>Jyotiba Phule Nagar
            <option value="Kabirdham (formerly Kawardha)">Kabirdham (formerly Kawardha)</option>Kabirdham (formerly Kawardha)
            <option value="Kadapa">Kadapa</option>Kadapa
            <option value="Kaimur">Kaimur</option>Kaimur
            <option value="Kaithal">Kaithal</option>Kaithal
            <option value="Kakinada">Kakinada</option>Kakinada
            <option value="Kalahandi">Kalahandi</option>Kalahandi
            <option value="Kamrup">Kamrup</option>Kamrup
            <option value="Kamrup Metropolitan">Kamrup Metropolitan</option>Kamrup Metropolitan
            <option value="Kanchipuram">Kanchipuram</option>Kanchipuram
            <option value="Kandhamal">Kandhamal</option>Kandhamal
            <option value="Kangra">Kangra</option>Kangra
            <option value="Kanker">Kanker</option>Kanker
            <option value="Kannauj">Kannauj</option>Kannauj
            <option value="Kannur">Kannur</option>Kannur
            <option value="Kanpur">Kanpur</option>Kanpur
            <option value="Kanshi Ram Nagar">Kanshi Ram Nagar</option>Kanshi Ram Nagar
            <option value="Kanyakumari">Kanyakumari</option>Kanyakumari
            <option value="Kapurthala">Kapurthala</option>Kapurthala
            <option value="Karaikal">Karaikal</option>Karaikal
            <option value="Karauli">Karauli</option>Karauli
            <option value="Karbi Anglong">Karbi Anglong</option>Karbi Anglong
            <option value="Kargil">Kargil</option>Kargil
            <option value="Karimganj">Karimganj</option>Karimganj
            <option value="Karimnagar">Karimnagar</option>Karimnagar
            <option value="Karnal">Karnal</option>Karnal
            <option value="Karur">Karur</option>Karur
            <option value="Kasaragod">Kasaragod</option>Kasaragod
            <option value="Kathua">Kathua</option>Kathua
            <option value="Katihar">Katihar</option>Katihar
            <option value="Katni">Katni</option>Katni
            <option value="Kaushambi">Kaushambi</option>Kaushambi
            <option value="Kendrapara">Kendrapara</option>Kendrapara
            <option value="Kendujhar (Keonjhar)">Kendujhar (Keonjhar)</option>Kendujhar (Keonjhar)
            <option value="Khagaria">Khagaria</option>Khagaria
            <option value="Khammam">Khammam</option>Khammam
            <option value="Khandwa (East Nimar)">Khandwa (East Nimar)</option>Khandwa (East Nimar)
            <option value="Khargone (West Nimar)">Khargone (West Nimar)</option>Khargone (West Nimar)
            <option value="Kheda">Kheda</option>Kheda
            <option value="Khordha">Khordha</option>Khowai
            <option value="Khowai">Khowai</option>Khordha
            <option value="Khunti">Khunti</option>Kinnaur
            <option value="Kinnaur">Kinnaur</option>Khunti
            <option value="Kishanganj">Kishanganj</option>Kishtwar
            <option value="Kishtwar">Kishtwar</option>Kishanganj
            <option value="Kodagu">Kodagu</option>Koderma
            <option value="Koderma">Koderma</option>Kodagu
            <option value="Kohima">Kohima</option>Kokrajhar
            <option value="Kokrajhar">Kokrajhar</option>Kohima
            <option value="Kolar">Kolar</option>Kolasib
            <option value="Kolasib">Kolasib</option>Kolar
            <option value="Kolhapur">Kolhapur</option>Kolkata
            <option value="Kolkata">Kolkata</option>Kolhapur
            <option value="Kollam">Kollam</option>Koppal
            <option value="Koppal">Koppal</option>Kollam
            <option value="Koraput">Koraput</option>Korba
            <option value="Korba">Korba</option>Koraput
            <option value="Koriya">Koriya</option>Kota
            <option value="Kota">Kota</option>Koriya
            <option value="Kottayam">Kottayam</option>Kozhikode
            <option value="Kozhikode">Kozhikode</option>Kottayam
            <option value="Krishna">Krishna</option>Kulgam
            <option value="Kulgam">Kulgam</option>Krishna
            <option value="Kullu">Kullu</option>Kupwara
            <option value="Kupwara">Kupwara</option>Kullu
            <option value="Kurnool">Kurnool</option>Kurukshetra
            <option value="Kurukshetra">Kurukshetra</option>Kurnool
            <option value="Kurung Kumey">Kurung Kumey</option>Kushinagar
            <option value="Kushinagar">Kushinagar</option>Kurung Kumey
            <option value="Kutch">Kutch</option>Lahaul and Spiti
            <option value="Lahaul and Spiti">Lahaul and Spiti</option>Kutch
            <option value="Lakhimpur">Lakhimpur</option>Lakhimpur Kheri
            <option value="Lakhimpur Kheri">Lakhimpur Kheri</option>Lakhimpur
            <option value="Lakhisarai">Lakhisarai</option>Lalitpur
            <option value="Lalitpur">Lalitpur</option>Lakhisarai
            <option value="Latehar">Latehar</option>Latur
            <option value="Latur">Latur</option>Latehar
            <option value="Lawngtlai">Lawngtlai</option>Leh
            <option value="Leh">Leh</option>Lawngtlai
            <option value="Lohardaga">Lohardaga</option>Lohit
            <option value="Lohit">Lohit</option>Lohardaga
            <option value="Lower Dibang Valley">Lower Dibang Valley</option>Lower Subansiri
            <option value="Lower Subansiri">Lower Subansiri</option>Lower Dibang Valley
            <option value="Lucknow">Lucknow</option>Ludhiana
            <option value="Ludhiana">Ludhiana</option>Lucknow
            <option value="Lunglei">Lunglei</option>Madhepura
            <option value="Madhepura">Madhepura</option>Lunglei
            <option value="Madhubani">Madhubani</option>Madurai
            <option value="Madurai">Madurai</option>Madhubani
            <option value="Mahamaya Nagar">Mahamaya Nagar</option>Maharajganj
            <option value="Maharajganj">Maharajganj</option>Mahamaya Nagar
            <option value="Mahasamund">Mahasamund</option>Mahbubnagar
            <option value="Mahbubnagar">Mahbubnagar</option>Mahasamund
            <option value="Mahe">Mahe</option>Mahendragarh
            <option value="Mahendragarh">Mahendragarh</option>Mahe
            <option value="Mahoba">Mahoba</option>Mainpuri
            <option value="Mainpuri">Mainpuri</option>Mahoba
            <option value="Malappuram">Malappuram</option>Maldah
            <option value="Maldah">Maldah</option>Malappuram
            <option value="Malkangiri">Malkangiri</option>Mamit
            <option value="Mamit">Mamit</option>Malkangiri
            <option value="Mandi">Mandi</option>Mandla
            <option value="Mandla">Mandla</option>Mandi
            <option value="Mandsaur">Mandsaur</option>Mandya
            <option value="Mandya">Mandya</option>Mandsaur
            <option value="Mansa">Mansa</option>Marigaon
            <option value="Marigaon">Marigaon</option>Mansa
            <option value="Mathura">Mathura</option>Mau
            <option value="Mau">Mau</option>Mathura
            <option value="Mayurbhanj">Mayurbhanj</option>Medak
            <option value="Medak">Medak</option>Mayurbhanj
            <option value="Meerut">Meerut</option>Mehsana
            <option value="Mehsana">Mehsana</option>Meerut
            <option value="Mewat">Mewat</option>Mirzapur
            <option value="Mirzapur">Mirzapur</option>Mewat
            <option value="Moga">Moga</option>Mokokchung
            <option value="Mokokchung">Mokokchung</option>Moga
            <option value="Mon">Mon</option>Moradabad
            <option value="Moradabad">Moradabad</option>Mon
            <option value="Morena">Morena</option>Mumbai City
            <option value="Mumbai City">Mumbai City</option>Morena
            <option value="Mumbai suburban">Mumbai suburban</option>Munger
            <option value="Munger">Munger</option>Mumbai suburban
            <option value="Murshidabad">Murshidabad</option>Muzaffarnagar
            <option value="Muzaffarnagar">Muzaffarnagar</option>Murshidabad
            <option value="Muzaffarpur">Muzaffarpur</option>Mysore
            <option value="Mysore">Mysore</option>Muzaffarpur
            <option value="Nabarangpur">Nabarangpur</option>Nadia
            <option value="Nadia">Nadia</option>Nabarangpur
            <option value="Nagaon">Nagaon</option>Nagapattinam
            <option value="Nagapattinam">Nagapattinam</option>Nagaon
            <option value="Nagaur">Nagaur</option>Nagpur
            <option value="Nagpur">Nagpur</option>Nagaur
            <option value="Nainital">Nainital</option>Nalanda
            <option value="Nalanda">Nalanda</option>Nainital
            <option value="Nalbari">Nalbari</option>Nalgonda
            <option value="Nalgonda">Nalgonda</option>Nalbari
            <option value="Namakkal">Namakkal</option>Nanded
            <option value="Nanded">Nanded</option>Namakkal
            <option value="Nandurbar">Nandurbar</option>Narayanpur
            <option value="Narayanpur">Narayanpur</option>Nandurbar
            <option value="Narmada">Narmada</option>Narsinghpur
            <option value="Narsinghpur">Narsinghpur</option>Narmada
            <option value="Nashik">Nashik</option>Navsari
            <option value="Navsari">Navsari</option>Nashik
            <option value="Nawada">Nawada</option>Nawanshahr
            <option value="Nawanshahr">Nawanshahr</option>Nawada
            <option value="Nayagarh">Nayagarh</option>Neemuch
            <option value="Neemuch">Neemuch</option>Nayagarh
            <option value="Nellore">Nellore</option>New Delhi
            <option value="New Delhi">New Delhi</option>Nellore
            <option value="Nilgiris">Nilgiris</option>Nizamabad
            <option value="Nizamabad">Nizamabad</option>Nilgiris
            <option value="North 24 Parganas">North 24 Parganas</option>North Delhi
            <option value="North Delhi">North Delhi</option>North 24 Parganas
            <option value="North East Delhi">North East Delhi</option>North Goa
            <option value="North Goa">North Goa</option>North East Delhi
            <option value="North Sikkim">North Sikkim</option>North Tripura
            <option value="North Tripura">North Tripura</option>North Sikkim
            <option value="North West Delhi">North West Delhi</option>Nuapada
            <option value="Nuapada">Nuapada</option>North West Delhi
            <option value="Ongole">Ongole</option>Osmanabad
            <option value="Osmanabad">Osmanabad</option>Ongole
            <option value="Pakur">Pakur</option>Palakkad
            <option value="Palakkad">Palakkad</option>Pakur
            <option value="Palamu">Palamu</option>Pali
            <option value="Pali">Pali</option>Palamu
            <option value="Palwal">Palwal</option>Panchkula
            <option value="Panchkula">Panchkula</option>Palwal
            <option value="Panchmahal">Panchmahal</option>Panchsheel Nagar district (Hapur)
            <option value="Panchsheel Nagar district (Hapur)">Panchsheel Nagar district (Hapur)</option>Panchmahal
            <option value="Panipat">Panipat</option>Panna
            <option value="Panna">Panna</option>Panipat
            <option value="Papum Pare">Papum Pare</option>Parbhani
            <option value="Parbhani">Parbhani</option>Papum Pare
            <option value="Paschim Medinipur">Paschim Medinipur</option>Patan
            <option value="Patan">Patan</option>Paschim Medinipur
            <option value="Pathanamthitta">Pathanamthitta</option>Pathankot
            <option value="Pathankot">Pathankot</option>Pathanamthitta
            <option value="Patiala">Patiala</option>Patna
            <option value="Patna">Patna</option>Patiala
            <option value="Pauri Garhwal">Pauri Garhwal</option>Perambalur
            <option value="Perambalur">Perambalur</option>Pauri Garhwal
            <option value="Phek">Phek</option>Pilibhit
            <option value="Pilibhit">Pilibhit</option>Phek
            <option value="Pithoragarh">Pithoragarh</option>Pondicherry
            <option value="Pondicherry">Pondicherry</option>Pithoragarh
            <option value="Poonch">Poonch</option>Porbandar
            <option value="Porbandar">Porbandar</option>Poonch
            <option value="Pratapgarh">Pratapgarh</option>Pratapgarh
            <option value="Pratapgarh">Pratapgarh</option>Pratapgarh
            <option value="Pudukkottai">Pudukkottai</option>Pulwama
            <option value="Pulwama">Pulwama</option>Pudukkottai
            <option value="Pune">Pune</option>Purba Medinipur
            <option value="Purba Medinipur">Purba Medinipur</option>Pune
            <option value="Puri">Puri</option>Purnia
            <option value="Purnia">Purnia</option>Puri
            <option value="Purulia">Purulia</option>Raebareli
            <option value="Raebareli">Raebareli</option>Purulia
            <option value="Raichur">Raichur</option>Raigad
            <option value="Raigad">Raigad</option>Raichur
            <option value="Raigarh">Raigarh</option>Raipur
            <option value="Raipur">Raipur</option>Raigarh
            <option value="Raisen">Raisen</option>Rajauri
            <option value="Rajauri">Rajauri</option>Raisen
            <option value="Rajgarh">Rajgarh</option>Rajkot
            <option value="Rajkot">Rajkot</option>Rajgarh
            <option value="Rajnandgaon">Rajnandgaon</option>Rajsamand
            <option value="Rajsamand">Rajsamand</option>Rajnandgaon
            <option value="Ramabai Nagar (Kanpur Dehat)">Ramabai Nagar (Kanpur Dehat)</option>Ramanagara
            <option value="Ramanagara">Ramanagara</option>Ramabai Nagar (Kanpur Dehat)
            <option value="Ramanathapuram">Ramanathapuram</option>Ramban
            <option value="Ramban">Ramban</option>Ramanathapuram
            <option value="Ramgarh">Ramgarh</option>Rampur
            <option value="Rampur">Rampur</option>Ramgarh
            <option value="Ranchi">Ranchi</option>Ratlam
            <option value="Ratlam">Ratlam</option>Ranchi
            <option value="Ratnagiri">Ratnagiri</option>Rayagada
            <option value="Rayagada">Rayagada</option>Ratnagiri
            <option value="Reasi">Reasi</option>Rewa
            <option value="Rewa">Rewa</option>Reasi
            <option value="Rewari">Rewari</option>Ri Bhoi
            <option value="Ri Bhoi">Ri Bhoi</option>Rewari
            <option value="Rohtak">Rohtak</option>Rohtas
            <option value="Rohtas">Rohtas</option>Rohtak
            <option value="Rudraprayag">Rudraprayag</option>Rupnagar
            <option value="Rupnagar">Rupnagar</option>Rudraprayag
            <option value="Sabarkantha">Sabarkantha</option>Sagar
            <option value="Sagar">Sagar</option>Sabarkantha
            <option value="Saharanpur">Saharanpur</option>Saharsa
            <option value="Saharsa">Saharsa</option>Saharanpur
            <option value="Sahibganj">Sahibganj</option>Saiha
            <option value="Saiha">Saiha</option>Sahibganj
            <option value="Salem">Salem</option>Samastipur
            <option value="Samastipur">Samastipur</option>Salem
            <option value="Samba">Samba</option>Sambalpur
            <option value="Sambalpur">Sambalpur</option>Samba
            <option value="Sangli">Sangli</option>Sangrur
            <option value="Sangrur">Sangrur</option>Sangli
            <option value="Sant Kabir Nagar">Sant Kabir Nagar</option>Sant Ravidas Nagar
            <option value="Sant Ravidas Nagar">Sant Ravidas Nagar</option>Sant Kabir Nagar
            <option value="Saran">Saran</option>Satara
            <option value="Satara">Satara</option>Saran
            <option value="Satna">Satna</option>Sawai Madhopur
            <option value="Sawai Madhopur">Sawai Madhopur</option>Satna
            <option value="Sehore">Sehore</option>Senapati
            <option value="Senapati">Senapati</option>Sehore
            <option value="Seoni">Seoni</option>Seraikela Kharsawan
            <option value="Seraikela Kharsawan">Seraikela Kharsawan</option>Seoni
            <option value="Serchhip">Serchhip</option>Shahdol
            <option value="Shahdol">Shahdol</option>Serchhip
            <option value="Shahjahanpur">Shahjahanpur</option>Shajapur
            <option value="Shajapur">Shajapur</option>Shahjahanpur
            <option value="Shamli">Shamli</option>Sheikhpura
            <option value="Sheikhpura">Sheikhpura</option>Shamli
            <option value="Sheohar">Sheohar</option>Sheopur
            <option value="Sheopur">Sheopur</option>Sheohar
            <option value="Shimla">Shimla</option>Shimoga
            <option value="Shimoga">Shimoga</option>Shimla
            <option value="Shivpuri">Shivpuri</option>Shopian
            <option value="Shopian">Shopian</option>Shivpuri
            <option value="Shravasti">Shravasti</option>Sibsagar
            <option value="Sibsagar">Sibsagar</option>Shravasti
            <option value="Siddharthnagar">Siddharthnagar</option>Sidhi
            <option value="Sidhi">Sidhi</option>Siddharthnagar
            <option value="Sikar">Sikar</option>Simdega
            <option value="Simdega">Simdega</option>Sikar
            <option value="Sindhudurg">Sindhudurg</option>Singrauli
            <option value="Singrauli">Singrauli</option>Sindhudurg
            <option value="Sirmaur">Sirmaur</option>Sirohi
            <option value="Sirohi">Sirohi</option>Sirmaur
            <option value="Sirsa">Sirsa</option>Sitamarhi
            <option value="Sitamarhi">Sitamarhi</option>Sirsa
            <option value="Sitapur">Sitapur</option>Sivaganga
            <option value="Sivaganga">Sivaganga</option>Sitapur
            <option value="Siwan">Siwan</option>Solan
            <option value="Solan">Solan</option>Siwan
            <option value="Solapur">Solapur</option>Sonbhadra
            <option value="Sonbhadra">Sonbhadra</option>Solapur
            <option value="Sonipat">Sonipat</option>Sonitpur
            <option value="Sonitpur">Sonitpur</option>Sonipat
            <option value="South 24 Parganas">South 24 Parganas</option>South Delhi
            <option value="South Delhi">South Delhi</option>South 24 Parganas
            <option value="South Garo Hills">South Garo Hills</option>South Goa
            <option value="South Goa">South Goa</option>South Garo Hills
            <option value="South Sikkim">South Sikkim</option>South Tripura
            <option value="South Tripura">South Tripura</option>South Sikkim
            <option value="South West Delhi">South West Delhi</option>Sri Muktsar Sahib
            <option value="Sri Muktsar Sahib">Sri Muktsar Sahib</option>South West Delhi
            <option value="Srikakulam">Srikakulam</option>Srinagar
            <option value="Srinagar">Srinagar</option>Srikakulam
            <option value="Subarnapur (Sonepur)">Subarnapur (Sonepur)</option>Sultanpur
            <option value="Sultanpur">Sultanpur</option>Subarnapur (Sonepur)
            <option value="Sundergarh">Sundergarh</option>Supaul
            <option value="Supaul">Supaul</option>Sundergarh
            <option value="Surat">Surat</option>Surendranagar
            <option value="Surendranagar">Surendranagar</option>Surat
            <option value="Surguja">Surguja</option>Tamenglong
            <option value="Tamenglong">Tamenglong</option>Surguja
            <option value="Tarn Taran">Tarn Taran</option>Tawang
            <option value="Tawang">Tawang</option>Tarn Taran
            <option value="Tehri Garhwal">Tehri Garhwal</option>Thane
            <option value="Thane">Thane</option>Tehri Garhwal
            <option value="Thanjavur">Thanjavur</option>The Dangs
            <option value="The Dangs">The Dangs</option>Thanjavur
            <option value="Theni">Theni</option>Thiruvananthapuram
            <option value="Thiruvananthapuram">Thiruvananthapuram</option>Theni
            <option value="Thoothukudi">Thoothukudi</option>Thoubal
            <option value="Thoubal">Thoubal</option>Thoothukudi
            <option value="Thrissur">Thrissur</option>Tikamgarh
            <option value="Tikamgarh">Tikamgarh</option>Thrissur
            <option value="Tinsukia">Tinsukia</option>Tirap
            <option value="Tirap">Tirap</option>Tinsukia
            <option value="Tiruchirappalli">Tiruchirappalli</option>Tirunelveli
            <option value="Tirunelveli">Tirunelveli</option>Tiruchirappalli
            <option value="Tirupur">Tirupur</option>Tiruvallur
            <option value="Tiruvallur">Tiruvallur</option>Tirupur
            <option value="Tiruvannamalai">Tiruvannamalai</option>Tiruvarur
            <option value="Tiruvarur">Tiruvarur</option>Tiruvannamalai
            <option value="Tonk">Tonk</option>Tuensang
            <option value="Tuensang">Tuensang</option>Tonk
            <option value="Tumkur">Tumkur</option>Udaipur
            <option value="Udaipur">Udaipur</option>Tumkur
            <option value="Udalguri">Udalguri</option>Udham Singh Nagar
            <option value="Udham Singh Nagar">Udham Singh Nagar</option>Udalguri
            <option value="Udhampur">Udhampur</option>Udupi
            <option value="Udupi">Udupi</option>Udhampur
            <option value="Ujjain">Ujjain</option>Ukhrul
            <option value="Ukhrul">Ukhrul</option>Ujjain
            <option value="Umaria">Umaria</option>Una
            <option value="Una">Una</option>Umaria
            <option value="Unnao">Unnao</option>Upper Siang
            <option value="Upper Siang">Upper Siang</option>Unnao
            <option value="Upper Subansiri">Upper Subansiri</option>Uttar Dinajpur
            <option value="Uttar Dinajpur">Uttar Dinajpur</option>Upper Subansiri
            <option value="Uttara Kannada">Uttara Kannada</option>Uttarkashi
            <option value="Uttarkashi">Uttarkashi</option>Uttara Kannada
            <option value="Vadodara">Vadodara</option>Vaishali
            <option value="Vaishali">Vaishali</option>Vadodara
            <option value="Valsad">Valsad</option>Varanasi
            <option value="Varanasi">Varanasi</option>Valsad
            <option value="Vellore">Vellore</option>Vidisha
            <option value="Vidisha">Vidisha</option>Vellore
            <option value="Viluppuram">Viluppuram</option>Virudhunagar
            <option value="Virudhunagar">Virudhunagar</option>Viluppuram
            <option value="Visakhapatnam">Visakhapatnam</option>Vizianagaram
            <option value="Vizianagaram">Vizianagaram</option>Visakhapatnam
            <option value="Vyara">Vyara</option>Warangal
            <option value="Warangal">Warangal</option>Vyara
            <option value="Wardha">Wardha</option>Washim
            <option value="Washim">Washim</option>Wardha
            <option value="Wayanad">Wayanad</option>West Champaran
            <option value="West Champaran">West Champaran</option>Wayanad
            <option value="West Delhi">West Delhi</option>West Garo Hills
            <option value="West Garo Hills">West Garo Hills</option>West Delhi
            <option value="West Kameng">West Kameng</option>West Khasi Hills
            <option value="West Khasi Hills">West Khasi Hills</option>West Kameng
            <option value="West Siang">West Siang</option>West Sikkim
            <option value="West Sikkim">West Sikkim</option>West Siang
            <option value="West Singhbhum">West Singhbhum</option>West Tripura
            <option value="West Tripura">West Tripura</option>West Singhbhum
            <option value="Wokha">Wokha</option>Yadgir
            <option value="Yadgir">Yadgir</option>Wokha
            <option value="Yamuna Nagar">Yamuna Nagar</option>Yanam
            <option value="Yanam">Yanam</option>Yamuna Nagar
            <option value="Yavatmal">Yavatmal</option>Zunheboto
            <option value="Zunheboto">Zunheboto</option>Yavatmal
          </select>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'form1.js' %}"></script>
</body>
</html>